@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway&display=swap');

$primary-font: 'Raleway', sans-serif;
$display-font: 'Permanent Marker', cursive;
$font-light: 300;
$font-regular: 400;
$font-bold: 600;

// Colores
$palette: (
    ligth-grey: #DCDDE1,
    medium-grey: #747474,
    dark-grey: rgb(131, 129, 127),
    brand-primary-color: rgb(255, 81, 0), //#0a2240,
);
$ligth-grey: map-get($palette,ligth-grey);
$medium-grey: map-get($palette,medium-grey);
$dark-grey: map-get($palette,dark-grey);
$brand-primary-color: map-get($palette,brand-primary-color);
$white:white;
$black: black;

//Gradientes
// $gradient-yellow-green: linear-gradient(to right, $page-yellow, $brand-primary-color);